<div class="controllerProperties properties">
<h4>Controller properties</h4>
<form>
  <table>
    <tr>
      <td><label for="controllername">name</label></td>
      <td><input id="controllername" value="" /></td>
    </tr>
    <tr>
      <td><label for="controllerscale">Scale</label></td>
      <td><input id="controllerscale" value=""></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="button" value="environment" onclick="pipeline.showEnvironment()"></td>
    </tr>
  </table>
  <div style="float: right;">
    <a class="uk-button-small cancel">cancel</a>
    <a class="uk-button-small uk-button-primary done">done</a>
  </div>
</form>
</div>
