<div class="applicationProperties properties">
  <h4>Container properties</h4>
  <form>
    <table>
      <tr>
        <td><label for="appautostart">autostart</label></td>
        <td>
          <input type="checkbox" id="appautostart" />
        </td>
      </tr>
      <tr>
        <td><label for="appname">name</label></td>
        <td><input id="appname" value="" /></td>
      </tr>
      <tr>
        <td><label for="appcmd">command</label></td>
        <td><input id="appcmd" value="" /></td>
      </tr>
      <tr>
        <td><label for="appargs">arguments</label></td>
        <td><input id="appargs" value=""></td>
      </tr>
      <tr>
        <td><label for="appversion">version</label></td>
        <td><input id="appversion" value=""></td>
      </tr>
      <tr>
        <td><label for="apptimeout">timeout</label></td>
        <td><input id="apptimeout" value=""></td>
      </tr>
      <tr>
        <td><label for="appexposeport">expose port</label></td>
        <td>
            <input id="appexposeport" value="" style="width:110px;">
            <span><label for="appisudp">UDP</label><input type="checkbox" id="appisudp" /></span>
        </td>
      </tr>
      <tr>
        <td><label for="appcpu">cpu</label></td>
        <td><input id="appcpu" value=""></td>
      </tr>
      <tr>
        <td><label for="appmemory">memory</label></td>
        <td><input id="appmemory" value=""></td>
      </tr>
      <tr>
        <td><label for="appscript">script</label></td>
        <td><input type="checkbox" id="appscript" />
            <input type="button" id="editappscript" value="edit" onclick="pipeline.showEditor()" />
            <input type="button" value="environment" onclick="pipeline.showEnvironment()" />
        </td>
      </tr>
    </table>
    <div style="float: right;">
      <a class="uk-button-small cancel">cancel</a>
      <a class="uk-button-small uk-button-primary done">done</a>
    </div>
  </form>
</div>
