<div class="containerProperties properties">
<h4>Kubernetes set properties</h4>
<form>
  <table>
    <tr>
      <td><label for="containername">name</label></td>
      <td><input id="containername" value="" /></td>
    </tr>
    <tr>
      <td><label for="containerscale">Scale</label></td>
      <td><input id="containerscale" value=""></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="button" value="environment" onclick="pipeline.showEnvironment()"></td>
    </tr>
  </table>
  <div style="float: right;">
    <a class="uk-button-small cancel">cancel</a>
    <a class="uk-button-small uk-button-primary done">done</a>
  </div>
</form>
</div>
