<!DOCTYPE html>
<html>
    <head>
        <title>[[ .Title ]]</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jointjs@3.5.3/dist/joint.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="/static/css/glyphicon.css">

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/navigo@8.6.3/lib/navigo.min.js"></script>

        <!-- Joint JS and requirements -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/backbone@1.4.1/backbone.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jointjs@3.6.5/dist/joint.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jsonform@2.2.5/lib/jsonform.js"></script>
        <!-- Gauge chart -->
        <script src="https://unpkg.com/gauge-chart@0.5.3/dist/bundle.js"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handlebars@4.7.6/dist/handlebars.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.editable.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    </head>
    <body>

