/* Copyright 2021 The Tiyo authors
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

/* -- Top navigation -- */
#top-head {
	z-index: 9;
	top: 0;
	left:0;
	right:0;
}
/* Smaller Header */
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
	/* navbar height */
  min-height: 52px;
  padding: 0 8px;
  font-size: 0.85rem;
}
.navbar-logo {
	background-color: #222A30;
	margin-left: -12px;
}
/* Left bar */
#left-col {
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222A30;
  width: 240px;
  z-index:2;
  transition: height 0.3s ease-out;
}
/* Left bar links */
#left-col ul.uk-nav-default > li > a {
	padding: 8px 20px;
	border-left: 2px solid transparent;
	transition: all 0.15s ease-out;
}
#left-col ul.uk-nav-default li.uk-nav-header {
	padding:  20px 20px 8px 20px;
}

#left-col ul.uk-nav-default > li > a:hover, #left-col ul.uk-nav-default > li.uk-open > a {
	border-left: 2px solid #39f;
	padding-left: 30px;
	color: white;
	background-color: rgba(0,0,0,0.1);
}
#left-col ul.uk-nav-default li .uk-nav-sub {
	padding-left: 34px;
}
#left-col .uk-dropdown.user-drop {
	min-width: 160px;
	max-width: 160px;
	padding: 0.75rem;
}
/* Drop arrow */
#left-col .uk-dropdown.user-drop:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 4px;
	margin-left: -4px;
}
.left-content-box {
	padding: 0.75rem 20px;
	border-top: 1px solid rgba(255,255,255,0.06);
	margin-bottom: -1px;
}
.left-nav-wrap {
	padding-bottom: 60px;
}
.content-box-dark {
	background-color: rgba(0,0,0,0.09);
}
.text-light {
	font-weight: 200;
	font-size: 1.25rem;
}
.bar-bottom {
	border-top: 1px solid rgba(255,255,255,0.07);
	padding: 15px 0;
   background-color: #222A30;
   position: fixed;
   left: 0;
   right: 0;
   z-index: 3;
   bottom: 0;
   width: 240px;
}
.left-logo {
	/* navbar height */
	height: 52px;
	line-height: 52px;
	padding: 0 20px;
}
.custom-logo {
	height: 32px;
}
.profile-img {
	width: 60px;
	margin: 0 auto 10px auto;
	display: block;
}
.panel-icons {
	margin: 0 4px;
}
.uk-tooltip {
	background-color: white;
	color: #242C33;
	box-shadow: 0 2px 12px rgba(50,50,50,0.1);
}
#content {
	margin-top: 52px;
	padding: 30px 0 0 0;
	background-color: #f7f7f7;
	margin-left: 0;
	transition: margin 0.2s cubic-bezier(.4,0,.2,1);
	position: relative;
}
@media screen and (min-width: 960px){
	#content {
		/* equal to left-col width */
		margin-left: 240px;
	}
	#top-head {
		/* equal to left-col width */
		left:240px;
	}
}

#top-head [class*="uk-navbar-dropdown-bottom"] {
	margin-top: 0;
}

/* Search nav */
.search-field {
	width: 140px;
	-webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.search-field:focus {
	width: 200px;
	border-color: #fff !important;
}
.uk-card {
	box-shadow: none;
}

.uk-card-body {
    padding: 0;
}

.uk-heading-primary {
  letter-spacing: -0.032em;
  font-weight: 300;
}
/* Smooth shadow transition */
.uk-card {
	-webkit-transition: box-shadow 0.55s cubic-bezier(.4,0,.2,1);
	transition: box-shadow 0.55s cubic-bezier(.4,0,.2,1);
}
/* Progress */
.uk-progress {
	height: 3px;
	margin-bottom: 0.5rem;
	background-color: rgba(0,0,0,0.23);

}
* + .uk-progress {
    margin-top: 0.25rem;
}
.uk-progress.warning::-webkit-progress-value {
  background-color: #faa05a;
}
.uk-progress.warning::-moz-progress-bar {
  background-color: #faa05a;
}
.uk-progress.warning::-ms-fill {
  background-color: #faa05a;
}
.uk-progress.success::-webkit-progress-value {
  background-color: #32d296;
}
.uk-progress.success::-moz-progress-bar {
  background-color: #32d296;
}
.uk-progress.success::-ms-fill {
  background-color: #32d296;
}
/* Charts */
.chart-container {
	position: relative;
	height: 300px;
	margin: 0 auto;
}

.uk-panel-box {
    padding: 15px;
    background: #fafafa;
    color: #666;
    border: 1px solid #222A30;
    border-radius: 4px;
}

form.uk-panel-box {
    width: initial;
    border: 0;
}

#pipeline-applications ul {
    padding-left: 0px;
    padding-right: 5px;
    overflow: auto;
    max-height: 620px;
}

#pipeline-applications li {
    list-style: none;
    padding: 5px;
    border: 1px solid #222A30;
    border-radius: 4px;
}

.available-magnet {
    fill: yellow;
}

.available-cell rect {
    stroke-dasharray: 5, 2;
}

.editable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.uk-table {
    border-spacing: 5px;
    border-collapse: separate;
}

.uk-table td {
    padding: 5px;
}

.editable textarea {
    width: 90% !important;
    padding: 0 0 0 3px !important;
    border: 1px solid #222A30 !important;
    border-radius: 4px !important;
}

.properties {
    width: fit-content;
    height: fit-content;
    background-color: #222A30;
    padding: 10px;
    border-radius: 10px;
    display: none;
    z-index: 1000;

    /*max-width: 800px;
    max-height: 600px;
    overflow: scroll;*/
}

.properties h4 {
    color: #666;
}

.properties label {
    width: 50px;
}

.html-element {
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}

.html-element button {
    /* Enable interacting with inputs only. */
    pointer-events: auto;
}

.html-element button.delete {
    color: #000;
    border: none;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
}
.html-element button.delete:hover {
    color: #fff;
    background-color: #C0392B;
}

section#pipeline > div.uk-grid {
    margin: 0;
}

.uk-modal {
    padding: 10px !important;
    top: 35%;
    right: inherit;
    bottom: inherit;
    left: 35%;
    border-radius: 10px;
}

.uk-modal-body {
    border-radius: 5px;
    padding: 5px;
}

.uk-modal-body > * {
    margin-bottom: 0;
    padding: 10px 5px 5px;
}

.element-list {
    padding-left: 10px;
}

.element-list-element {
    float: left;
    background: none;
    fill: none;
    margin: 0 10px 10px;
    min-height: 30px;
}

.element-list-element > img {
    width: 30px;
    cursor: move;
}

.properties label {
    max-width: 150px;
}

.properties input {
    appearance: none;
    height: 23px;
    line-height: 23px;
    border-radius: 3px;
    border: 0px;
    padding: 0 10px;
    margin: 0;
}
.properties input[type=button] {
    background: white;
}

.properties td > span {
    display: block;
    text-indent: 5px;
    height: 23px;
    float: right;
}

.properties td > span > label {
    display: inline-block;
    width: 44px;
}

.properties input[type=checkbox] {
    appearance: checkbox;
    vertical-align: middle;
}

div#scriptentry,
div#environment
{
    top: 20%;
    left: 20%;
    width: 55%;
}

div#scriptentry > div.uk-modal-dialog,
div#environment > div.uk-modal-dialog
{
    width: 100%;
    height: 400px;
}

ul#scriptsource {
    height: 65%;
    border: 1px solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul#scriptsource li {
    height: 100%;
}

#editor {
    position: relative;
    height: 100%;
}

#environment-content {
    position: relative;
    height: 70%;
    border-bottom: 1px solid #222A30;
}

#paper-pipeline-holder {
    margin-top: -80px;
}

#paper-pipeline-holder > div.casing {
    margin: 0;
    margin-top: -30px;
    padding: 0;
    overflow: hidden;
}

#paper-pipeline {
    overflow: hidden;
}

#paper-pipeline svg {
    height: 100%;
}

.casing header {
    float: left;
    top: 10px;
    position: relative;
}

div.gauges {
    float: right;
    width: 100%;
    max-width: 520px;
}

div.gauges fieldset {
    float: right;
    padding: 0;
    margin: 0;
    border: 0;
}
div.gauges legend {
    text-align: center;
    height: 5px;
    margin-left: 10px;
    width: 100%;
}

div.gauges +fieldset {
    margin: 0;
}

div.gauges fieldset > div {
    width: 130px;
    float: left;
}

div#message {
    display: none;
    width: fit-content;
    height: 15px;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    padding: 10px;
    z-index: 1000;
    font-family: monospace;
    font-size: 10pt;
}

div.error {
    background-color: #C74553;
    color: white;
}

div.warning {
    background-color: #83cc72;
    color: black;
}

div.success {
    background-color: #578a4b;
    color: white;
}

.uk-accordion-title {
    color: rgba(255,255,255,.5) !important;
    padding: 0px 10px;
}

.uk-accordion-title::before {
    background-image: none !important;
}


.joint-link.joint-theme-default .marker-vertex {
    r: 3;
}

.joint-link.joint-theme-default .connection-wrap {
    stroke-width: 5;
}

.joint-link.joint-theme-default .marker-arrowhead {
    scale: 0.5;
}

.joint-link.joint-theme-default .marker-vertex-remove {
    scale: 0.5;
}
.tool-remove, .marker-vertex-remove-area {
    scale: 0.5;
}

.properties form {
    display: block;
    overflow: scroll;
    max-width: 800px;
    max-height: 600px;
}

.properties .form-group {
    display: grid;
}

.properties .form-group label {
    float: left;
}

.properties .form-group .controls {
    float: right;
}

.properties .form-group .controls .help-block {
    font-size: 10pt;
    margin-bottom: 10px;
    display: block;
}
