<!DOCTYPE html>
<html>
    <head>
        <title>[[ .Title ]]</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jointjs@3.2.0/dist/joint.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit-icons.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/navigo@8.6.3/lib/navigo.min.js"></script>

        <!-- Joint JS and requirements -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/backbone@1.4.0/backbone.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jointjs@3.2.0/dist/joint.min.js"></script>

        <!-- Gauge chart -->
        <script src="https://unpkg.com/gauge-chart@latest/dist/bundle.js"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handlebars@4.7.6/dist/handlebars.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.editable.min.js"></script>
    </head>
    <body>
<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h3 class="uk-card-title uk-text-center">Tiyo</h3>
                        <form>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input class="uk-input uk-form-large" type="text" name="username">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input class="uk-input uk-form-large" type="password" name="password">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </body>
</html>
