[[template "header.html" .]]
[[template "index/header.html" .]]
[[template "index/sidebar.html" .]]
<article id="content" class="uk-container-center uk-margin-large-bottom" data-uk-height-viewport="expand: true">

<!-- Dashboard -->
<section class="uk-position-top-left" id="dashboard">
    <div class="uk-vertical-align uk-text-center uk-height-1-1"></div>
</section>

<!-- Pipeline -->
<section class="uk-position-medium uk-position-top-left uk-width-1-1" id="pipeline">
    <div id="paper-pipeline-holder" class="uk-grid uk-grid-medium uk-sortable" uk-grid>
        <div class="uk-width-3-4 uk-first-column uk-grid-margin uk-height-1-1 casing">
            <header>
                <h3 class="editable pagetitle pipelinetitle">Untitled</h3>
            </header>
            <div id="paper-pipeline"></div>
        </div>
        <aside id="search" class="uk-height-1-1 uk-width-1-4">
            <div class="uk-panel uk-panel-box" data-uk-sticky="{top:35}">
                <h4 class="uk-nav-header">Applications</h4>
                <div class="uk-margin">
                    <form class="uk-search uk-search-default">
                        <span class="uk-search-icon-flip" uk-search-icon></span>
                        <input id="pipeline-filter" class="uk-search-input" onkeyup="filterApplications()" type="search" placeholder="filter...">
                    </form>
                </div>
                <div id="pipeline-applications">
                    <image src="/static/img/pulse.svg" style="height: 30px;width: 100%;" />
                </div>
            </div>
        </aside>
    </div>
</section>

[[template "footer.html" .]]
